<section class="section--contact" title="showAnim">
  <div class="container">
     <div class="row">
        <div class="col-12">
           <div class="contactForm">
               <div class="title blue-text with-line">Contact <span>us</span></div>
               <div class="desc">We will be happy to answer your questions. <br>Fill out the details to get in touch.</div>
               <form id="contactForm" class="contactForm__form" action="#" method="post">
                  <div
                    id="recaptcha"
                    class="g-recaptcha"
                    data-sitekey="6LfE8x8UAAAAAICC4ZmgDmSVPiBtyyzqrz_F7-qT"
                    data-callback="sendContactForm"
                    data-size="invisible"
                  ></div>
                  <div class="contactForm__col">
                     <div class="contactForm__element">
                       <input class="contactForm__control" name="Name" type="text" placeholder="Full name" />
                     </div>
                     <div class="contactForm__element">
                       <input class="contactForm__control" name="Email" type="email" placeholder="Email" />
                     </div>
                  </div>
                  <div class="contactForm__col">
                     <div class="contactForm__element">
                       <input class="contactForm__control" id="contactForm-phone" name="Phone" type="text" placeholder="Phone Number" />
                     </div>
                     <div class="contactForm__element">
                       <input class="contactForm__control" name="Company" type="text" placeholder="Company" />
                     </div>
                  </div>
                  <div class="contactForm__element">
                    <textarea class="contactForm__control" name="Message" placeholder="Message" rows="1"></textarea>
                  </div>
                  <div class="contactForm__element text-center">
                     <input class="btn btn--green g-recaptcha" type="button" value="Send Message" onclick="validateContactForm(event)" />
                     <div class="loader"></div>
                  </div>
                  <input id="contactForm-country" name="Country" type="hidden" />
                  <input id="contactForm-custom-user-id" name="CustomUserId" type="hidden" />
                  <input id="contactForm-auto-referrer" name="AutoReferrer" type="hidden" />
                  <input name="Type" type="hidden" value="18" />
               </form>
           </div>
        </div>
     </div>
  </div>
</section>