<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <a class="footer__link" href="http://eleks.com" target="_blank">
                    <svg class="footer__logo" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 64.9 19.4" style="enable-background:new 0 0 64.9 19.4;" xml:space="preserve" preserveAspectRatio="xMinYMin">
                        <g>
                            <g>
                                <path d="M6.7,7.1c-2.4,0-3.1,0.8-3.1,3.4h6.4C9.9,8,9.1,7.1,6.7,7.1L6.7,7.1z M61.1,8.8c0-1.3-0.6-1.8-3-1.8
                                    c-2.5,0-2.8,0.4-2.8,1.9c0,1.2,0.4,1.4,3.9,1.7c3.2,0.2,5.7,1,5.7,4.1c0,4-2.7,4.7-6.4,4.7c-3,0-6.7-0.1-6.7-3.9v-0.8h3.5
                                    c0,1.9,0.7,2.3,2.5,2.3h1c2,0,2.8-0.6,2.8-2c0-1.3-0.8-1.7-3.7-1.8c-3.9-0.2-6-1-6-4.3c0-3.6,2.5-4.2,6.3-4.2
                                    c2.6,0,6.4,0.1,6.4,3.5c0,0.1,0,0.4-0.1,0.6H61.1L61.1,8.8z M41.3,10h1l4.2-5.3h3.9l-5.3,7.1l6.1,7.6H47l-4.4-6h-1.3v6H38V0h3.3
                                    V10L41.3,10z M28.8,7.1c-2.4,0-3.1,0.8-3.1,3.4H32C32,8,31.2,7.1,28.8,7.1L28.8,7.1z M35.4,14.6v0.5c0,3.6-2.7,4.2-6.7,4.2
                                    c-4.9,0-6.6-1.8-6.6-7.3c0-5.4,1.8-7.4,6.6-7.4c4.9,0,6.7,2.1,6.7,7v1h-9.8c0,3.5,0.7,4.3,3.1,4.3c2.2,0,3.3-0.4,3.3-2v-0.3H35.4
                                    L35.4,14.6z M16,19.3h3.4V0H16V19.3L16,19.3z M13.3,14.6v0.5c0,3.6-2.7,4.2-6.7,4.2C1.7,19.4,0,17.5,0,12c0-5.4,1.8-7.4,6.6-7.4
                                    c4.9,0,6.7,2.1,6.7,7v1H3.5c0,3.5,0.7,4.3,3.1,4.3c2.2,0,3.3-0.4,3.3-2v-0.3H13.3L13.3,14.6z"/>
                            </g>
                        </g>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>
<script src="js/main.js?rev=@@hash"></script>
<!--some js code-->
    <script type="text/javascript">
        _linkedin_data_partner_id = "53701";
    </script>
    <script type="text/javascript">
        (function(){var s = document.getElementsByTagName("script")[0];
            var b = document.createElement("script");
            b.type = "text/javascript";b.async = true;
            b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
            s.parentNode.insertBefore(b, s);})();
    </script>
    <noscript>
        <img height="1" width="1" style="display: none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=53701&fmt=gif"/>
    </noscript>
<!--End some js code-->
