<div class="testimonials">
    <div class="testimonial">
        <div class="testimonial__text">It was an absolute pleasure working with the ELEKS team, the thinking, speed, proactivity, support and delivery quality was first rate. A real surprise with a first engagement. I wish every partner we worked with was so service-driven.</div>
        <div class="testimonial__author">
            <span class="testimonial__author__name">Ben Silcox</span>, Chief Digital & Data Officer, Havas Helia
        </div>
    </div>
    <div class="testimonial">
        <div class="testimonial__text">ELEKS has been involved in the development of a number of our consumer-facing websites and mobile applications that allow Aramex' customers to easily track their shipments, get the information they need as well as stay in touch with us. We've appreciated the level of ELEKS' expertise, responsiveness and attention to details.</div>
        <div class="testimonial__author">
            <span class="testimonial__author__name">Samer Awajan</span>, CTO, Aramex
        </div>
    </div>
    <div class="testimonial">
        <div class="testimonial__text">It was an absolute pleasure working with the ELEKS team, the thinking, speed, proactivity, support and delivery quality was first rate. A real surprise with a first engagement. I wish every partner we worked with was so service-driven.</div>
        <div class="testimonial__author">
            <span class="testimonial__author__name">Ben Silcox</span>, Chief Digital & Data Officer, Havas Helia
        </div>
    </div>
    <div class="testimonial">
        <div class="testimonial__text">ELEKS has been involved in the development of a number of our consumer-facing websites and mobile applications that allow Aramex' customers to easily track their shipments, get the information they need as well as stay in touch with us. We've appreciated the level of ELEKS' expertise, responsiveness and attention to details.</div>
        <div class="testimonial__author">
            <span class="testimonial__author__name">Samer Awajan</span>, CTO, Aramex
        </div>
    </div>
</div>