/*
* Third Party
*/
@import "../../bower_components/normalize.css/normalize.css";

/*
* Custom
*/
* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
    height: 100%;
    overflow-x: hidden;
}
body {
    background: url('../img/thank-light.png'), linear-gradient(to bottom, #005dd7 0%,#003eca 100%);
    background-size: cover;
    font-family: 'ProximaNovaRegular';
    color: #fff;
    overflow-x: hidden;
    height: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'ProximaNovaRegular';
    font-weight: normal;
    margin: 0;
}
h1, .title {
    font-family: 'ProximaNovaBold';
    font-size: 2.25rem;
    margin-bottom: 2.25rem;

    span {
        font-family: 'ProximaNovaRegular';
    }

    &.with-line {
        padding-bottom: 1.875rem;
        position: relative;

        &:after {
            bottom: 0;
            height: 2px;
            content: '';
            left: 0;
            position: absolute;
            width: 17px;
        }
        &.white-text {
            &:after {
                background-color: #fff;
            }
        }
        &.blue-text {
            &:after {
                background-color: #4674d8;
            }
        }
    }
}
.desc {
    font-size: 1.25rem;
    letter-spacing: 1px;
    line-height: 1.2;
}
.white-text {
    color: #fff;
}
.items-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@import "partials/fonts";
@import "partials/grid";
@import "partials/thank-page";
