/*
* Third Party
*/
@import "../../bower_components/normalize.css/normalize.css";
@import "../../bower_components/slick-carousel/slick/slick.css";
@import "../../bower_components/intl-tel-input/build/css/intlTelInput.css";

/*
* Custom
*/
* {
    box-sizing: border-box;
}
html {
    color: #000;
    font-size: 16px;
    overflow-x: hidden;
    clear: both;
}
body {
    background-color: #fff;
    font-family: 'ProximaNovaRegular';
    color: #333;
    overflow-x: hidden;
    width: 100%;
    clear: both;
}
a {
    color: #000;
    text-decoration: none;
    transition: color 300ms;

    &:hover {
        color: #0045CF;
    }
}
input, textarea {
    font-family: 'ProximaNovaRegular';
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'ProximaNovaRegular';
    font-weight: normal;
    margin: 0;
}
h1, .title {
    font-family: 'ProximaNovaBold';
    font-size: 2.25rem;
    margin-bottom: 2.25rem;

    span {
        font-family: 'ProximaNovaRegular';
    }

    &.with-line {
        padding-bottom: 1.875rem;
        position: relative;

        &:after {
            bottom: 0;
            height: 2px;
            content: '';
            left: 0;
            position: absolute;
            width: 17px;
        }
        &.white-text {
            &:after {
                background-color: #fff;
            }
        }
        &.blue-text {
            &:after {
                background-color: #4674d8;
            }
        }
    }
}
h2 {
    font-size: 1.875rem;
    margin-bottom: 1.25rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
h3 {
    font-size: 1.5rem;
    margin-bottom: 2.75rem;
}
h4 {
    font-family: 'ProximaNovaBold';
    font-size: 1rem;
    margin-bottom: 1.5rem;
}
h5 {
    font-family: 'ProximaNovaBold';
    font-size: 1rem;
    margin-bottom: 1.5rem;
}
p {
    margin: 0 0 2rem;
}
img {
    max-width: 100%;
}
.desc {
    font-size: 1.25rem;
    letter-spacing: 1px;
    line-height: 1.2;
}
.blue-text {
    color: #0045cf;
}
.white-text {
    color: #fff;
}
.grey-text {
    color: #666;
}
.uppercase {
    text-transform: uppercase;
}
.bold {
    font-family: 'ProximaNovaBold';
    font-weight: normal;
}
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.text-center {
    text-align: center;
}
section {
    position: relative;
    z-index: 1;
}
.items-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex {
    display: flex;
}

@import "partials/variable";
@import "partials/header";
@import "partials/fonts";
@import "partials/grid";
@import "partials/home-page";
@import "partials/footer";
@import "partials/responsive";
@import "partials/animation";

/* BUTTONS */
.btn {
    background-color: transparent;
    border-radius: 50px;
    border: 2px solid transparent;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    font-family: 'ProximaNovaRegular';
    font-size: 1.5rem;
    line-height: 1.2;
    outline: none;
    padding: 0.438rem 3rem 0.5rem;
    transition-duration: 300ms;
    transition-property: background-color, border-color, color;
    vertical-align: top;
    white-space: nowrap;
}
.btn--green {
    background-color: $green;
    border-color: $green;
    color: $white;

    &:hover {
        background-color: $light-green;
        border-color: $light-green;
        color: $white;
    }

    &.btn--shadow {
        box-shadow: 0 0 50px #2fb413;
    }
}
