body:not(.no_js_body) {
    .header {
        opacity: 0;

        &__logo,
        .title,
        .desc,
        .btn,
        &__slider {
            opacity: 0;
        }
        .awwards {
            &__img {
                opacity: 0;
            }
        }
        &.showAnim {
            animation: 0.3s ease-in 0s forwards opacity;

            .header__logo {
                animation: 0.5s ease-in 0.3s forwards up;
            }
            .title {
                animation: 0.5s ease-in 0.6s forwards up;
            }
            .desc {
                animation: 0.5s ease-in 0.9s forwards up;
            }
            .btn {
                animation: 0.5s ease-in 1.2s forwards up;
            }
            .header__slider {
                animation: 0.5s ease-in 1.2s forwards right;
            }
            .awwards {
                &__img {
                    &:nth-child(1),
                    &:nth-last-child(1) {
                        animation: 0.3s ease-in 2s forwards opacity;
                    }
                    &:nth-child(2),
                    &:nth-last-child(2) {
                        animation: 0.3s ease-in 2.15s forwards opacity;
                    }
                    &:nth-child(3),
                    &:nth-last-child(3) {
                        animation: 0.3s ease-in 2.3s forwards opacity;
                    }
                    &:nth-child(4),
                    &:nth-last-child(4) {
                        animation: 0.3s ease-in 2.45s forwards opacity;
                    }
                    &:nth-child(5),
                    &:nth-last-child(5) {
                        animation: 0.3s ease-in 2.6s forwards opacity;
                    }
                }
            }
        }
    }
    .section--technology {
        .technology {
            &__img,
            &__title {
                opacity: 0;
            }
        }
        .desc,
        .btn {
            opacity: 0;
        }
        &.showAnim {
            .technology {
                .col-3 {
                    &:nth-child(1) {
                        .technology {
                            &__img {
                                animation: 0.3s ease-in 0.3s forwards opacity;
                            }
                            &__title {
                                animation: 0.3s ease-in 0.4s forwards up;
                            }
                        }
                    }
                    &:nth-child(2) {
                        .technology {
                            &__img {
                                animation: 0.3s ease-in 0.6s forwards opacity;
                            }
                            &__title {
                                animation: 0.3s ease-in 0.7s forwards up;
                            }
                        }
                    }
                    &:nth-child(3) {
                        .technology {
                            &__img {
                                animation: 0.3s ease-in 0.9s forwards opacity;
                            }
                            &__title {
                                animation: 0.3s ease-in 1s forwards up;
                            }
                        }
                    }
                    &:nth-child(4) {
                        .technology {
                            &__img {
                                animation: 0.3s ease-in 1.2s forwards opacity;
                            }
                            &__title {
                                animation: 0.3s ease-in 1.3s forwards up;
                            }
                        }
                    }
                }
            }
            .desc {
                animation: 0.3s ease-in 1.5s forwards up;
            }
            .btn {
                animation: 0.3s ease-in 1.7s forwards up;
            }
        }
    }
    .section--benefits {
        .title,
        .benefit,
        .btn {
            opacity: 0;
        }
        &.showAnim {
            .title {
                animation: 0.3s ease-in 0.5s forwards opacity;
            }
            .benefitsWrap {
                &:nth-of-type(2) {
                    .col-5 {
                        &:first-child {
                            .benefit {
                                animation: 0.5s ease-in 0.8s forwards left;
                            }
                        }
                        &:last-child {
                            .benefit {
                                animation: 0.5s ease-in 0.8s forwards right;
                            }
                        }
                    }
                }
                &:nth-of-type(3) {
                    .col-5 {
                        &:first-child {
                            .benefit {
                                animation: 0.5s ease-in 1.1s forwards left;
                            }
                        }
                        &:last-child {
                            .benefit {
                                animation: 0.5s ease-in 1.1s forwards right;
                            }
                        }
                    }
                }
                &:nth-of-type(4) {
                    .col-5 {
                        &:first-child {
                            .benefit {
                                animation: 0.5s ease-in 1.4s forwards left;
                            }
                        }
                        &:last-child {
                            .benefit {
                                animation: 0.5s ease-in 1.4s forwards right;
                            }
                        }
                    }
                }
            }
            .btn {
                animation: 0.3s ease-in 1.7s forwards up;
            }
        }
    }
    .section--work {
        .title {
            opacity: 0;
        }
        .work__item {
            &__icon {
                &__img {
                    opacity: 0;
                }
            }
            &__title {
                opacity: 0;
            }
        }
        &.showAnim {
            .title {
                animation: 0.3s ease-in 0.5s forwards opacity;
            }
            .work {
                .col-4 {
                    &:nth-child(1) {
                        .work__item {
                            &__icon__img {
                                animation: 0.3s ease-in 0.7s forwards opacity;
                            }
                            &__title {
                                animation: 0.3s ease-in 0.85s forwards up;
                            }
                        }
                    }
                    &:nth-child(2) {
                        .work__item {
                            &__icon__img {
                                animation: 0.3s ease-in 1s forwards opacity;
                            }
                            &__title {
                                animation: 0.3s ease-in 1.15s forwards up;
                            }
                        }
                    }
                    &:nth-child(3) {
                        .work__item {
                            &__icon__img {
                                animation: 0.3s ease-in 1.3s forwards opacity;
                            }
                            &__title {
                                animation: 0.3s ease-in 1.45s forwards up;
                            }
                        }
                    }
                    &:nth-child(4) {
                        .work__item {
                            &__icon__img {
                                animation: 0.3s ease-in 1.6s forwards opacity;
                            }
                            &__title {
                                animation: 0.3s ease-in 1.75s forwards up;
                            }
                        }
                    }
                    &:nth-child(5) {
                        .work__item {
                            &__icon__img {
                                animation: 0.3s ease-in 1.9s forwards opacity;
                            }
                            &__title {
                                animation: 0.3s ease-in 2.05s forwards up;
                            }
                        }
                    }
                }
            }
        }
    }
    .section--clients {
        .title,
        .client__img {
            opacity: 0;
        }
        &.showAnim {
            .title {
                animation: 0.3s ease-in 0.5s forwards opacity;
            }
            .client {
                &__img {
                    &:nth-child(1) {
                        animation: 0.3s ease-in 0.8s forwards opacity;
                    }
                    &:nth-child(2) {
                        animation: 0.3s ease-in 1.1s forwards opacity;
                    }
                    &:nth-child(3) {
                        animation: 0.3s ease-in 1.4s forwards opacity;
                    }
                    &:nth-child(4) {
                        animation: 0.3s ease-in 1.7s forwards opacity;
                    }
                    &:nth-child(5) {
                        animation: 0.3s ease-in 2s forwards opacity;
                    }
                }
            }
        }
    }
    .section--contact {
        .title,
        .desc,
        .contactForm__form {
            opacity: 0;
        }
        &.showAnim {
            .title {
                animation: 0.3s ease-in 0.5s forwards up;
            }
            .desc {
                animation: 0.3s ease-in 0.65s forwards up;
            }
            .contactForm__form {
                animation: 0.5s ease-in 0.8s forwards up;
            }
        }
    }
}
@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes up {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes right {
    0% {
        opacity: 0;
        transform: translateX(250px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes left {
    0% {
        opacity: 0;
        transform: translateX(-250px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}