.footer {
    background: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%,rgba(0,62,202,0) 100%), url("../img/noise-bg.jpg") repeat left top;
    padding: 2.125rem 0 1.75em;

    &__link {
        display: inline-block;
        vertical-align: top;
    }

    &__logo {
        fill: $white;
        height: 23px;
        opacity: .3;
        transition: opacity 300ms;
        width: 80px;

        &:hover {
            opacity: .5;
        }
    }
}
