.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1030px;
}
.container-fluid {
  width: 100%;
}

.container:before,
.container:after {
  display: table;
  content: " ";
}
.container:after {
  clear: both;
}
.row {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;

  &.wrap {
    flex-wrap: wrap;
  }
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &.centered {
    margin-left: auto;
    margin-right: auto;
  }
}
.col-1 {
  width: 8.33333333333333%;
}
.col-2 {
  width: 16.66666666666666%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333333333%;
}
.col-5 {
  width: 41.6666666666666%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333333333%;
}
.col-8 {
  width: 66.66666666666666%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.3333333333333%;
}
.col-11 {
  width: 91.66666666666666%;
}
.col-12 {
  width: 100%;
}
