.header {
    background: #003eca url("../img/header-bg.jpg") no-repeat center top;
    background-size: cover;
    display: flex;
    min-height: 1100px;
    padding: 70px 0 50px;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .col-4 {
        width: 290px;
    }
    .col-8 {
        width: calc(100% - 290px);
    }

    &__logo {
        display: inline-block;
        margin-bottom: 1.25rem;
        vertical-align: top;

        &__img {
            transition: opacity 300ms;
            height: 30px;
            width: 110px;

            &:hover {
                opacity: 0.5;
            }
        }
    }
    &__slider {
        text-align: right;
    }
    &__img {
        max-width: inherit;
        padding-top: 30px;
    }
    .screens {
        position: absolute;
        right: 30px;
        top: 77px;
        /*transform: translate(106px, -474px) rotateX(27deg) rotateY(10deg) skew(-32deg, -3deg);*/
        width: 195px;
    }
    .title {
        margin-top: 6.75rem;
    }
    .desc {
        letter-spacing: 0;
        margin-bottom: 4.375rem;
    }
}
