.awwards {
    display: flex;
    margin-top: 7.5rem;
    justify-content: space-between;
}

.section--technology {
    padding: 4.625rem 0 6.5rem;

    .desc {
        font-family: 'ProximaNovaBold';
        font-size: 1.5rem;
        margin: 4.375rem 0 3.75rem;
    }
}
.technology {
    &__imgWrap {
        align-items: center;
        display: flex;
        height: 115px;
        margin-bottom: 2.75rem;
        justify-content: center;
    }
    &__img {}
    &__title {
        color: $blue;
        font-family: 'ProximaNovaBold';
        font-size: 2rem;
        line-height: 1.2;
    }
}

.section--benefits {
    background-color: #f6f6f6;
    padding: 6.625rem 0 1.5rem;

    .title {
        margin-bottom: 3.5rem;
    }
}
.benefit {
    display: flex;
    margin-bottom: 5.875rem;

    &__icon {
        margin-right: 0.25rem;
        flex-basis: 95px;
        min-width: 95px;

        &__img {
        }
    }
    &__text {
        font-size: 1.25rem;
        line-height: 1.2;
    }
    .col-1 {
        width: 11%;
    }
    &.small--margin {
        margin-bottom: 4.5rem;
    }
}

.section--work {
    & > .container {
        background: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%,rgba(0,62,202,0) 100%), url("../img/noise-bg.jpg") repeat left top;
        box-shadow: 0 15px 81px rgba(0, 0, 0, 0.17);
        max-width: 1230px;
        padding: 6.25rem 115px 1.875rem;
        width: 1230px;
    }
    .title {
        margin-bottom: 5.25rem;
    }
}
.work {
    &__item {
        margin-bottom: 4.75rem;
        text-align: center;

        &__icon {
            height: 75px;
            margin-bottom: 1.25rem;

            &__img {}
        }
        &__title {
            color: $white;
            font-family: 'ProximaNovaRegular';
            font-size: 1.5rem;
            line-height: 1.2;
        }
    }
}

.section--clients {
    padding: 8.75rem 0 7.5rem;

    .title {
        margin-bottom: 4.375rem;
    }
}
.client {
    align-items: center;
    display: flex;
    justify-content: space-between;

    &__img {
        filter: grayscale(100%);
        margin: 0 15px;
        transition: filter 300ms ease 0s;

        &:hover {
            filter: grayscale(0);
        }
    }
}

.section--testimonials {}

.testimonials {
    padding: 0 0 2rem;
    transform: translateX(calc(50% - 555px));

    &:after {
        background: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%,rgba(0,62,202,0) 100%), url("../img/noise-bg.jpg") repeat left top;
        bottom: 0;
        content: '';
        left: 280px;
        position: absolute;
        right: 0;
        top: 0;
    }
    .slick-list {
        padding-left: 55px;
        z-index: 1;
    }
    .slick-track {
        display: flex;
    }
    .slick-slide {
        background: $white url("../img/quote.png") no-repeat 106px 66px;
        border-radius: 10px;
        box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
        height: auto;
        margin: 80px 55px 95px;
        outline: none;
        padding: 125px 130px 65px 180px;
        width: 1000px;
    }
    .slick-arrow {
        background: url("../img/slider-arrows.png") no-repeat 0 0;
        border: none;
        bottom: 45px;
        cursor: pointer;
        height: 0;
        left: 55px;
        margin: 0;
        overflow: hidden;
        outline: none;
        padding: 17px 0 0;
        position: absolute;
        width: 30px;
        z-index: 2;

        &.slick-next {
            background-position: -51px 0;
            left: 105px;
        }
    }
}
.testimonial {
    &__text {
        font-size: 1.25rem;
        line-height: 1.8;
        margin-bottom: 2rem;
    }
    &__author {
        color: #747474;
        font-size: 1.25rem;
        font-style: italic;
        line-height: 1.2;
        text-align: right;

        &__name {
            color: #7090e0;
            font-family: 'ProximaNovaBold';
            font-style: normal;
        }
    }
}

.section--contact {
    padding: 9.375rem 0 4.375rem;
}
/*contact form*/
.contactForm {
    $this: &;
    &__form {
        padding-top: 3.5rem;
    }

    &__col {
        float: left;
        width: 46%;

        & + #{$this}__col {
            margin-left: 8%;
        }
    }
    &__element {
        clear: both;
        margin-bottom: 2.75rem;
        position: relative;
    }
    &__control {
        background: transparent;
        border: none;
        border-bottom: 1px solid #4674d8;
        box-shadow: none;
        box-sizing: border-box;
        color: #3b3b3b;
        font: 20px/24px 'ProximaNovaRegular';
        height: 44px;
        outline: none;
        padding: 10px;
        transition: border-color 300ms;
        width: 100%;

        &:focus {
            border-color: $blue;
        }
        &.error {
            border-color: red;
        }
        &:-webkit-autofill {
            -webkit-text-fill-color: #3b3b3b;
            -webkit-box-shadow: 0 0 0px 1000px #fff inset;

            &:hover,
            &:focus {
                -webkit-text-fill-color: #3b3b3b;
                -webkit-box-shadow: 0 0 0px 1000px #fff inset;
            }
        }
    }
    .btn {
        margin-top: 2.750rem;

        &.submit + .loader {
            display: inline-block;
            margin: 57px 0 0 10px;
        }
    }
    .intl-tel-input {
        display: block;
    }
    .iti-flag {
        background-image: url("../img/flags.png");

        @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
            .iti-flag {
                background-image: url("../img/flags@2x.png");
            }
        }
    }
    .grecaptcha-badge {
        display: none;
    }
}
textarea.contactForm__control {
    overflow: hidden;
    resize: none;
}
.loader {
    animation: spin 1s linear infinite;
    border-radius: 50%;
    border: 4px solid #ebebeb;
    border-top: 4px solid #0c4885;
    display: none;
    height: 20px;
    vertical-align: top;
    width: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}