@media (max-width: 1230px) {
    .section--work {
        & > .container {
            padding-left: 15px;
            padding-right: 15px;
            width: 100%;
        }
    }
}
@media (max-width: 1150px) {
    .container {
        width: 100%;
    }
    .testimonials {
        transform: translateX(0);

        .slick-list {
            padding-left: 0;
        }
        .slick-slide {
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}
@media (max-width: 1150px) {
    .awwards {
        &__img {
            margin-left: 1%;
            margin-right: 1%;
        }
    }
}

@media (max-width: 760px) {
    .row {
        flex-wrap: wrap;
    }
    .col-3 {
        width: 50%;
    }
    .col-4,
    .col-5,
    .col-6,
    .col-8 {
        width: 100%;
    }
    .header {
        .title {
            margin-top: 3rem;
        }
    }
    .awwards {
        margin-top: 3rem;
    }
    .section--technology {
        .col-3 {
            &:last-child,
            &:nth-last-child(2) {
                margin-top: 3rem;
            }
        }
    }
    .technology__imgWrap {
        margin-bottom: 1.5rem;
    }
    .benefit {
        flex-direction: column;
        text-align: center;

        &__icon {
            margin: 0 0 1rem;
        }
    }
    .section--clients {
        padding-bottom: 1rem;
    }
    .client {
        &__item {
            margin-bottom: 3.5rem;
        }
    }
    .testimonials {
        display: none;
    }
    .section--contact {
        padding-top: 2rem;
    }
    .contactForm {
        &__col {
            margin: 0 !important;
            width: 100%;
        }
    }
}

@media (max-width: 600px) {
    .header {
        .col-4 {
            margin-left: auto;
            margin-right: auto;
        }
        .col-8 {
            width: 100%;
        }
        &__slider {
            margin-top: 30px !important;
        }
        .btn {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media (max-width: 480px) {
    .awwards {
        flex-wrap: wrap;
    }
}
@media (max-width: 360px) {
    .section--technology {
        .col-3 {
            width: 100%;

            &:not(:first-child) {
                margin-top: 3rem;
            }
        }
    }
}
