.section--thank {
    height: 100%;

    & > .container {
        display: flex;
        flex-direction: column;
        height: 100%;

        .items-center {
            flex-grow: 1;
        }
    }
}
.thank {
    &__logo {
        margin-top: 70px;
        display: inline-block;

        &__img {
            transition: opacity 300ms;
            height: 30px;
            width: 110px;

            &:hover {
                opacity: 0.5;
            }
        }
    }
    &__img {
        max-width: 100%;
        margin-top: -50px;
    }
}

@media (max-width: 1230px) {
    .container {
        width: 100%;
    }
    .thank__logo {
        margin: 40px 0;
    }
}

@media (max-width: 600px) {
    .row {
        display: block;
    }
    .col-6 {
        width: 100%;
    }
    .thank__img {
        margin-top: 50px;
    }
}