//= template/head.html
//= template/header.html

<section class="section--benefits" title="showAnim">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title blue-text">Benefits from Mobile Apps <br><span>for Store Associates</span></div>
            </div>
        </div>
        <div class="row benefitsWrap">
            <div class="col-5">
                <div class="benefit">
                    <div class="benefit__icon">
                        <img class="benefit__icon__img" src="img/icon1.png" alt="icon">
                    </div>
                    <div class="benefit__text">
                        <strong>Improve sales, reduce stock-outs and improve promotion execution: </strong>
                        Improve store associate productivity
                    </div>
                </div>
            </div>
            <div class="col-1">
            </div>
            <div class="col-5">
                <div class="benefit">
                    <div class="benefit__icon">
                        <img class="benefit__icon__img" src="img/icon4.png" alt="icon">
                    </div>
                    <div class="benefit__text">
                        <strong>Inventory management: </strong>
                        Inventory is constantly monitored and communicated with the help of the mobile device
                    </div>
                </div>
            </div>
        </div>
        <div class="row benefitsWrap">
            <div class="col-5">
                <div class="benefit">
                    <div class="benefit__icon">
                        <img class="benefit__icon__img" src="img/icon2.png" alt="icon">
                    </div>
                    <div class="benefit__text">
                        <strong>Information on-the-go: </strong>
                        Product data, price, inventory – all at your associate’s fingertips. All documents are centralized
                    </div>
                </div>
            </div>
            <div class="col-1">
            </div>
            <div class="col-5">
                <div class="benefit">
                    <div class="benefit__icon">
                        <img class="benefit__icon__img" src="img/icon5.png" alt="icon">
                    </div>
                    <div class="benefit__text">
                        <strong>Task and workforce management: </strong>
                        Set schedules and tasks, educate and coach, inspire and assess
                    </div>
                </div>
            </div>
        </div>
        <div class="row benefitsWrap">
            <div class="col-5">
                <div class="benefit small--margin">
                    <div class="benefit__icon">
                        <img class="benefit__icon__img" src="img/icon3.png" alt="icon">
                    </div>
                    <div class="benefit__text">
                        <strong>Retail brand consistency: </strong>
                        Make sure that all your channels provide the same experience (partner, franchisee, own stores)
                    </div>
                </div>
            </div>
            <div class="col-1">
            </div>
            <div class="col-5">
                <div class="benefit small--margin">
                    <div class="benefit__icon">
                        <img class="benefit__icon__img" src="img/icon6.png" alt="icon">
                    </div>
                    <div class="benefit__text">
                        <strong>One communication tool: </strong>
                        Replace all the methods of communications (chat, reports, feedbacks, guidelines etc)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section--technology text-center" title="showAnim">
    <div class="container">
        <div class="row technology">
            <div class="col-3">
                <div class="technology__imgWrap">
                    <img class="technology__img" src="img/apple.png" alt="ios"/>
                </div>
                <div class="technology__title">iOS</div>
            </div>
            <div class="col-3">
                <div class="technology__imgWrap">
                    <img class="technology__img" src="img/android.png" alt="Android"/>
                </div>
                <div class="technology__title">Android</div>
            </div>
            <div class="col-3">
                <div class="technology__imgWrap">
                    <img class="technology__img" src="img/xamagon.png" alt="Xamarin"/>
                </div>
                <div class="technology__title">Xamarin</div>
            </div>
            <div class="col-3">
                <div class="technology__imgWrap">
                    <img class="technology__img" src="img/react-native.png" alt="React Native"/>
                </div>
                <div class="technology__title">React Native</div>
            </div>
        </div>
        <div class="row">
            <div class="col-9 centered">
                <div class="desc text-center">
                    ELEKS provides retail businesses with full-cycle development of iOS, Android and Xamarin applications from scratch to product release and continuous development.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <button class="btn btn--green scrollTo">Contact Us</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section--work" title="showAnim">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title white-text">Why Work <span>With Us</span></div>
            </div>
        </div>
        <div class="row wrap work items-center">
            <div class="col-4">
                <div class="work__item">
                    <div class="work__item__icon">
                        <img class="work__item__icon__img" src="img/work-icon1.png" alt="icon">
                    </div>
                    <div class="work__item__title">Up to 2x faster <br>time to market</div>
                </div>
            </div>
            <div class="col-4">
                <div class="work__item">
                    <div class="work__item__icon">
                        <img class="work__item__icon__img" src="img/work-icon2.png" alt="icon">
                    </div>
                    <div class="work__item__title">Reduced <br>development costs</div>
                </div>
            </div>
            <div class="col-4">
                <div class="work__item">
                    <div class="work__item__icon">
                        <img class="work__item__icon__img" src="img/work-icon3.png" alt="icon">
                    </div>
                    <div class="work__item__title">Reduced <br>management risks</div>
                </div>
            </div>
            <div class="col-4">
                <div class="work__item">
                    <div class="work__item__icon">
                        <img class="work__item__icon__img" src="img/work-icon4.png" alt="icon">
                    </div>
                    <div class="work__item__title">Effective <br>development process</div>
                </div>
            </div>
            <div class="col-4">
                <div class="work__item">
                    <div class="work__item__icon">
                        <img class="work__item__icon__img" src="img/work-icon5.png" alt="icon">
                    </div>
                    <div class="work__item__title">Reduced <br>investments risks</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section--clients" title="showAnim">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title blue-text">Our <span>Clients</span></div>
            </div>
        </div>
        <div class="client">
            <img class="client__img" src="img/aramex.png" alt="icon">
            <img class="client__img" src="img/blackboard-logo.png" alt="icon">
            <img class="client__img" src="img/client2.png" alt="icon">
            <img class="client__img" src="img/client3.png" alt="icon">
            <img class="client__img" src="img/autodesc-logo.png" alt="icon">
        </div>
    </div>
</section>

<section class="section--testimonials">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                //= template/testimonials.html
            </div>
        </div>
    </div>
</section>

//= template/contact-form.html

//= template/footer.html

//= template/footer-end.html
